
.p-footer-nav {
    &__list{
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: bold;
        margin: 0 auto;
    }
    li + li {
        margin-left: 20px;
    }
}