.p-hero {
    height: 100vh;
    background-image: url('../img/mainvisual.png');
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__inner {
        color: #fff;
        text-align: center;
    }

    &__title {
        font-size: 72px;
        font-weight: bold;
        line-height: 1.2;
    }
    &__subtitle {
        font-size: 24px;
        letter-spacing: .1em;
        margin-top: 16px;
    }
    &__link {
        margin-top: 48px;
    }
}

.p-hero__scroll {
    color: #fff;
    font-size: 12px;
    position: absolute;
    padding: 10px 10px 90px;
    right: 20px;
    bottom: 0;
    z-index: 0;
    font-weight: bold;
    letter-spacing: .2em;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl; //chrome, safari
    -ms-writing-mode: vertical-rl; //IE, edge

    &::after {
        position: absolute;
        bottom: 0;
        width: 1px;
        height: 80px;
        left: 50%;
        background: #fff;
        content: '';
        -webkit-animation: scrollDownLine 1.5s infinite;
        animation: scrollDownLine 1.5s infinite;
    }
}
