@use '../../global/' as g;

.p-news {
    display: flex;
    justify-content: center;
    @include g.sp {
        flex-direction: column;
    }
}

.p-news-list {
    margin-left: 50px;
    font-size: 15px;
    color: g.$text-color;
    @include g.sp {
        margin: 0 auto;
        margin-top: 32px;
        max-width: 500px;
        padding: 0 20px;
    }

    li {
        display: flex;
        align-items: center;
        @include g.sp {
            display: block;
        }
    }
    li + li {
        margin-top: 16px;
        @include g.sp {
            margin-top: 36px;
        }
    }

    &__heading {
        display: flex;
    }

    &__category {
        margin-left: 20px;
        width: 80px;
        font-size: 10px;
        padding: 3px 0;
        display: inline-block;
        background-color: g.$base-color;
        font-weight: bold;
        text-align: center;
        border-radius: 8px;
    }

    &__text {
        display: inline-block;
        margin-left: 20px;
        @include g.sp {
            margin-left: 0;
            margin-top: 10px;
        }
    }

    &__text:hover {
        text-decoration: underline;
        text-decoration-color: g.$text-color;
        text-decoration-thickness: .5px;
    }
}