@use '../../global/' as g;

.p-recruit-inner {
    @include g.sp {
        padding: 0;
    }
}

.p-recruit__flex-wrap {
    display: flex;
    @include g.sp {
        flex-direction: column-reverse;
    }
}

.p-recruit {
    &__desc {
        padding: 70px 0;
        width: 45%;
        text-align: center;
        background-color: g.$base-color;
        @include g.sp {
            width: 100%;
        }
    }
    &__body {
        margin-top: 28px;
        font-size: 15px;
        color: g.$text-color;
        @include g.sp {
            margin-top: 32px;
        }
    }
    &__img {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    &__link {
        margin-top: 30px;
        @include g.sp {
            margin-top: 24px;
        }
    }
}