@use '../../global/' as g;

.c-heading__primary {
    font-size: 36px;
    font-weight: bold;
    color: g.$accent-color;
    line-height: 1.3;
    text-align: center;

    &--white {
        color: #fff;
    }
}

.c-heading__sub {
    display: block;
    font-size: 13px;

    &--left {
        text-align: left;
    }
}