@use '../../global/' as g;

.u-sp-only {
    display: none;

    @include g.sp {
        display: block;
    }
}

.u-heading--left-sp {
    text-align: left;
    @include g.sp {
        text-align: center;
    }
}